@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --translucentElement: rgba(200, 200, 200, 0.1);
}

body{
    font-family: "Poppins", sans-serif;
}

@mixin listElement{
    width: 70%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--translucentElement);
    border-radius: 15px;
}

@mixin pageBasics{
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

body{
    margin: 0px;
    overflow: hidden;
    background-color: #003049;
}

.NavBar{
    background-color: #023047;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.HomePage{
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img{
        width: 50vw;
        position: relative;
        right: 3%;
    }
}

.ProductList{
    @include pageBasics;

    .SearchBar{
        @include listElement();

        form{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        .Buttons{
            display: flex;
            gap: 15px;
        }
    }

    .ProductContainer{
        background-color: var(--translucentElement);
        border-radius: 15px;
        width: 90vw;
        height: 60%;
        padding: 15px;
        margin-top: 20px;
        overflow-y: scroll;
        overflow-x: hidden;

        .product{
            @include listElement();
            justify-content: space-between;
            padding: 0px 15px;
            margin: 5px;
            width: calc(100% - 30px);

            .Buttons{
                display: flex;
                gap: 15px;
            }
        }
    }
}

.modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form{
        display: flex;
        width: 50vw;
        flex-direction: column;
        background-color: rgba(110, 110, 110, 0.6);
        padding: 20px;
        border-radius: 15px;
        gap: 10px;
        text-align: center;

        .Buttons{
            margin-top: 10px;
            display: flex;
            justify-content: space-evenly;
        }
    }
}

.editProduct{

    form{

        h1{
            margin: 0px;
        }

        .comparison{
            display: flex;
            justify-content: space-evenly;

            .panel{
                background-color: var(--translucentElement);
                padding: 10px;
                border-radius: 15px;
            }
        }
    }
}

.successDialog{
    @include listElement();
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;

    .Buttons{
        display: flex;
        gap: 15px
    }
}

.ConfigPage{
    @include pageBasics;
    gap: 30px;
    overflow: scroll;

    h1{
        margin-bottom: 0px;
    }

    .Config{
        h4{
            margin: 0px;
        }
        background-color: var(--translucentElement);
        border-radius: 15px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}